h1,
h2,
h3,
h4,
p {
  font-family: "Quicksand", sans-serif;
}

h1 {
  padding-top: 20px;
  font-weight: bold;
  font-size: 36px;
}

h3,
h4 {
  font-size: 18px;
  font-weight: 600;
}

h3 {
  padding-bottom: 50px;
}

h2 {
  font-size: 28px;
}

p {
  font-size: 16px;
}

i {
  font-size: 50px;
  padding-top: 30px;
  color: rgba(255, 174, 0, 0.842);
}

.card-body i {
  padding-bottom: 20px;
}

.container {
  margin: 50px;
  padding: 50px 0px;
  border: solid 1px #000000;
}

.btn-purple {
  color: white;
  background: blueviolet;
}

.btn {
  font-family: "Quicksand", sans-serif;
}

.quick-sand {
  font-family: "Quicksand", sans-serif;
}
